.background_color {
	background: #ADDFFF;
}
.rounded-circle {
	transform: rotate(-90deg);
}
.name{
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;
}
#contact{
	color:#ADDFFF;
}
#contact .star-primary{
	color:#ADDFFF;
}
#contact hr.star-primary{
	border-color: #ADDFFF !important;
}
#contact hr.star-primary:after{
	color: #ADDFFF !important;
	background-color: white !important;
}


#about .star-light:after{
	background-color:#F778A1 !important;
}
#about{
	background-color:#F778A1;
}
.intro-text{
	padding-top:50px;
}
#portfolio {
	color:#ADDFFF
}
#portfolio .star-primary{
	color: #ADDFFF;
}
#portfolio hr.star-primary{
	border-color: #ADDFFF !important;
	}
#portfolio hr.star{
	color: #ADDFFF !important;
}
#portfolio hr.star-primary:after{
	color: #ADDFFF !important;
	background-color: white !important;
}

#interests{
	color:#F778A1;
}

ol{
  
  width:30% !important;
  left:20% !important;

}
.carousel{
        background: #F778A1;
        margin-top: 20px;
        text-align:center;
        border:1px solid black;
        text-align: center;   
        
    }

    .carousel .item{
       min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
   
    }
    .carousel .item img{
        margin: 0 auto; /* Align slide image horizontally center */
        height:500px;
       
    }
    .container{
        margin: 20px;
        text-align:center; 
    }
    h4{
       text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black !important;
       color:#08ABB8 !important;
       font-family:times !important;
       font-size:30px !important;
    }


.modal-content h2{
  color:#F778A1 !important;
}
.btn .btn-success{
  color:#F778A1 !important;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;

}
   
   .img-responsive{
   	margin:0 auto;
   	text-align: center;
   	vertical-align:middle;
   

   }
   #myCarousel{
   	margin-left:auto;
   	margin-right:auto;
   	width: 100%;
   	vertical-align:middle;
   }

video{
  height:500px;
}

.navbar{
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;
}
.skills{
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;
}
#sendMessageButton{
  background-color:#ADDFFF;
  border-color: black;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;

}
.modal-body{
  color:#F778A1 !important;
}

.modal-content .btn {
  background-color:#F778A1 !important;
  border-color: black;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;

}
